<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo Container Backup</title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            Let's Edit Your Todo!
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Title</label>
                    <!-- Here, required means that it is necessary to type some text for the title field-->
                    <input type="text" class="form-control" name="title" required>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea name="description" class="form-control" rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label>Priority</label>
                    <select name="priority" class="form-control">
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                         <option>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit Your Todo</button>
                <button type="button" class="btn btn-danger"> Delete </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>