<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage Backup</title>
</head>
<body>

   <tr class="pointer">
                        <td>User 2</td>
                        <td>Feed The Dogs</td>
                        <td>Tidy Up Your Room</td>
                        <td>
                            <button type="button" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-success">Complete</button>
                        </td>
   </tr>


   <tr class="pointer">
                        <td>User 3</td>
                        <td>Take Out The Trash</td>
                        <td>Tidy Up Your Room</td>
                        <td>
                            <button type="button" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-success">Complete</button>
                        </td>
   </tr>


</body>
</html>